<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/test.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <title>ร้านอาหาร</title>
</head>
<body>
    
    <nav class="navbarContainer">
        <div class="navbar">
            <div class="navLeft">
                <a href="/">หน้าแรก</a>
                <a href="/">ช่องทางติดต่อ</a>
            </div>
            <div class="navCenter">
                <span class="navTitle">ร้านอาหาร</span>
            </div>
            <div class="navRight">
                <a href="/favorites"><img src="../public/images/icon/heart.png" alt="" width="24px" ></i></a>
                <a href="/cart"><img src="../public/images/icon/shopping-cart.png" alt="" width="24px" ></i></a>
                <a href="/login">เข้าสู่ระบบ</a>
            </div>
        </div>
    </nav>

    <div class="banner">
    </div>

</body>
</html>